extends layout

block content
    div#menu
      each f in frameworks
        a.menu(href='/agileframeworks/' + f.framework) #{f.frameworkdisplay}
    h1 #{title} for #{f} the #{framework} framework
    table
      each pv in principlesArray
        tr(class='value')
          td.type(class='value') #{pv.type}
          td.text(class='value') #{pv.id}: #{pv.text}
      
      
      