extends ../node_modules/jade-bootstrap/_bootstrap

block body
  div#outer
    form(action='/agileframeworks/search', method='GET')
      p 
        | search terms 
        input(type='text', name='searchterms', value='')  
        input(type='submit', value='Submit')
    div#menu
      each f in frameworks
        a.menu(href='/agileframeworks/' + f.framework) #{f.frameworkdisplay}
    // - var fdisplay = frameworks.find(e.framework => e.framework==framework).frameworkdisplay
    h1 #{title} for #{f} the #{framework} framework
    table.plist
      each pv in principlesArray
        tr(class=pv.type)
          td.type(class=pv.type)
            | #{pv.frameworkdisplay}
            br 
            | #{pv.type}
          td.type(class=pv.type) #{pv.id}
          td.text(class=pv.type) #{pv.text}
    div(class='container')
      div(class='row')
        div(class='col-sm')
          One of the three columns
        div(class='col-sm')
          One of the three columns
        div(class='col-sm')
          One of the three columns