extends layout

head
  style.
    td.type {
      width=50;
    }

block content
  script(type='text/javascript').
    function gotoSelectedUrl() {
      var sel=document.getElementById("chooseFramework"); 
      window.location='/agileframeworks/' + sel.value;
    }
  h1= title
  //select(id='chooseFramework' onchange='javascript:var sel=document.getElementById("chooseFramework"); window.location="/" + sel.value;')
  select(id='chooseFramework' onchange='javascript:gotoSelectedUrl()')
    option('choose') Choose a framework
    each f in frameworks
      if f==framework
        option(value=f selected='true') #{f}
      else
        option(value=f) #{f}
  table
      each pv in principlesArray
        tr
          td.type #{pv.type}
          td.type #{pv.text}
      
      
      