extends ../node_modules/jade-bootstrap/_bootstrap

block body
    form(action='/agileframeworks/search', method='GET')
      p 
        | search terms 
        input(type='text', name='searchterms', value='')  
        input(type='submit', value='Submit')
    div#menu
      each f in frameworks
        a.menu(href='/agileframeworks/' + f.framework) #{f.frameworkdisplay}
    // - var fdisplay = frameworks.find(e.framework => e.framework==framework).frameworkdisplay
    h1 #{title} for #{f} the #{framework} framework
    div(class='container')
      each pv in principlesArray
        div(class='row')
          div(class='col-sm')
            | #{pv.frameworkdisplay}
            br 
            | #{pv.type}
          div(class='col-sm')
            | #{pv.id}
          div(class='col-sm')
            | #{pv.text}