extends layout

block content
  script(type='text/javascript').
    function gotoSelectedUrl() {
      var sel=document.getElementById("chooseFramework"); 
      window.location='/agileframeworks/' + sel.value;
    }
  h1= title
  //select(id='chooseFramework' onchange='javascript:var sel=document.getElementById("chooseFramework"); window.location="/" + sel.value;')
  select(id='chooseFramework' onchange='javascript:gotoSelectedUrl()')
    option('choose') Choose a framework
    each f in frameworks
      - var varsel = f==framework?'selected':''
      option(value=f varsel) #{f}
  table
      each pv in principlesArray
        tr
          td #{pv.type}
          td #{pv.text}
      
      
      