extends ../node_modules/jade-bootstrap/_bootstrap

block append styles
  style.
    .my-space-grid { 
      margin-bottom: 15px;
    }
    .my-show-grid-ptitle {
      border: 1px solid darkgreen;
    }
    .my-show-grid-ptext {
      border-left: 1px solid darkgreen;
      border-right: 1px solid darkgreen;
      border-bottom: 1px solid darkgreen;
    }
    .ag-title-bgcolor {
      background-color: darkseagreen;
    }
    .ag-text-bgcolor {
      background-color: white;
    }
    .value>.panel-heading { /*value heading color*/
      /*color: #333;*/
      background-color: #aaddf7;
      /*border: 1px solid #ddd;*/
     }
    .principle>.panel-heading { /*principle heading color*/
      color: #333;
      background-color: #99e7cc;
      border: 1px solid #ddd;
     }

block body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        H1 Agile Values and Principles from various frameworks
      form(action='/agileframeworks/search', method='GET')
        p 
          | search terms 
          input(type='text', name='searchterms', value='')  
          input(type='submit', value='Submit')
  div.container
    div.col-md-2
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Menu
          div.panel-body
            p Select framework below
          ul.list-group
            each f in frameworks
              li.list-group-item 
                a.menu(href='/agileframeworks/' + f.framework) #{f.frameworkdisplay}
    div.col-md-8
      each pv in principlesArray
        div.panel.panel-primary(class=pv.type)
          div.panel-heading
            h3.panel-title #{pv.frameworkdisplay} #{pv.type} #{pv.id}
          div.panel-body
            | #{pv.text}
    div.col-md-2
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Menu
          div.panel-body
            p Here's some text that will be in the panel body above the list group items.
            
          ul.list-group
            li.list-group-item item 1
            li.list-group-item item 2
            li.list-group-item item 3
