extends ../node_modules/jade-bootstrap/_bootstrap

block append styles
  style.
    .my-space-grid { 
      margin-bottom: 15px;
    }
    .my-show-grid-ptitle {
      border: 1px solid darkgreen;
    }
    .my-show-grid-ptext {
      border-left: 1px solid darkgreen;
      border-right: 1px solid darkgreen;
      border-bottom: 1px solid darkgreen;
    }
    .ag-title-bgcolor {
      background-color: darkseagreen;
    }
    .ag-text-bgcolor {
      background-color: white;
    }

block body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        H1 Agile Values and Principles from various frameworks
      form(action='/agileframeworks/search', method='GET')
        p 
          | search terms 
          input(type='text', name='searchterms', value='')  
          input(type='submit', value='Submit')
  div.container
    div.col-md-2
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Menu
          div.panel-body
            p Select framework below
            
          ul.list-group
            li.list-group-item Choose
            li.list-group-item item 2
            li.list-group-item item 3
    div.col-md-8
      each pv in principlesArray
        div.panel.panel-primary
          div.panel-heading
            h3.panel-title #{pv.frameworkdisplay} #{pv.type} #{pv.id}
          div.panel-body
            | #{pv.text}
    div.col-md-2
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Menu
          div.panel-body
            p Here's some text that will be in the panel body above the list group items.
            
          ul.list-group
            li.list-group-item item 1
            li.list-group-item item 2
            li.list-group-item item 3
    
    
    
    //-
        div.row.my-space-grid
          div.col-md-4
            div.row.bg-success
              div.col-md-12.my-show-grid-ptitle.ag-title-bgcolor
                | #{pv.frameworkdisplay} #{pv.type} #{pv.id}
            div.row.bg-success
              div.col-md-12.my-show-grid-ptext.ag-text-bgcolor
                | #{pv.text}