extends ../node_modules/jade-bootstrap/_bootstrap

block append styles
  style.
    .my-space-grid { 
      margin-bottom: 15px;
    }
    .my-show-grid-ptitle {
      border: 1px solid darkgreen;
    }
    .my-show-grid-ptext {
      border-left: 1px solid darkgreen;
      border-right: 1px solid darkgreen;
      border-bottom: 1px solid darkgreen;
    }
    .ag-title-bgcolor {
      background-color: darkseagreen;
    }
    .ag-text-bgcolor {
      background-color: white;
    }
    .value>.panel-heading { /*value heading color*/
      color: #333;
      background-color: #aaddf7;
     }
    .principle>.panel-heading { /*principle heading color*/
      color: #333;
      background-color: #99e7cc;
     }
     .searchform {
       margin-left  : 20px;
       margin-top: 10px;
       border: 1px solid red;
     }
     .center {
       text-align: center;
     }
     .selected {
       font-weight: bold;
       font-size: 1.2em;
     }
     a.plain {
       text-decoration: none;
       color: black;
     }
     div#suggestions {
       display: none;
       border: 2px inset black;
       width: 300px;
       padding: 10px 10px 10px 10px;
     }
     
block append scripts
  script.
    var isSmallViewport = window.matchMedia("(max-width: 1000px)");
    isSmallViewport.addListener(setMenuCollapsed);
    
    function setMenuCollapsed(isSmallViewport) {
      if( isSmallViewport.matches ) {
        document.getElementById("sidepanel").classList.remove('show');
        document.getElementById("sidepanel").classList.remove('in');
      } else {
        document.getElementById("sidepanel").classList.add('show');
      }
    }
    setMenuCollapsed(isSmallViewport);
    
    function setSelected(selectedFramework) {
      if(selectedFramework) {
        document.getElementById(selectedFramework).classList.add('selected');
      }
      //console.log("added .selected to " + selectedFramework)
    }
    
    function conductSearchOn(keyword) {
      
    }
    
    var selF = document.getElementById('currentFramework').innerHTML
    setSelected(selF);
    
    var searchRequest = null;
    var suggElement = document.getElementById('suggestions');
    
    $(function() {
      var minlength = 3;
      
      $("#searchterms").keyup(function() {
        var oldThis = this,
        value = $(this).val();
        console.log("value is " + value);
        
         if (value.length >= minlength ) {
            if (searchRequest != null) 
                searchRequest.abort();
            searchRequest = $.ajax({
                type: "GET",
                url: "/api/agileframeworks/keywords?",
                data: {
                    'keyword' : value
                },
                dataType: "json",
                success: function(msg){
                    if(msg.result[0]) {
                      var resultList = '<ul style="list-style-type: none"><li><b>Suggestions</b></li>';
                      console.log("in success 1 with " + msg.result[0] );
                      //we need to check if the value is the same
                      if (value==$(oldThis).val()) {
                        console.log("in success 2 in if with " + msg.result[0] );
                        msg.result.forEach( element => {
                          resultList = resultList + '<li><a href="/agileframeworks/search?searchterms=' + element + '"/>' + element + '</a></li>';
                        });
                        resultList = resultList + '</ul>';
                        suggElement.innerHTML = resultList;
                        suggElement.style.display = 'block';
                      }
                    }
                }
            });
        } else {
          suggElement.innerHTML = '';
          suggElement.style.display = 'none';
        }
      });
    });
    

block body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        div.container
          div.col-md-4
            H1 
              a(href='/agileframeworks/all')
                | Agile Values and Principles
          div.col-md-6
            form.navbar-form.navbar-right(action='/agileframeworks/search', method='GET')
              input.form-control#searchterms(type='text', name='searchterms', placeholder='Search Terms', autocomplete="off")  
              input.btn.btn-default(type='submit', value='Submit')
          div.col-md-2
            div#suggestions
  div.container
    div.row
      div.col-md-2
          div.panel.panel-default
            div.panel-heading
              a.plain(href='#sidepanel' data-toggle='collapse')
                h3.panel-title Frameworks
                  //a(href='/agileframeworks/all' data-toggle='collapse') Frameworks
            div.panel-collapse.collapse.show#sidepanel
              ul.list-group
                each f in frameworks
                  li.list-group-item 
                    a.menu(href='/agileframeworks/' + f.framework ) <span id=#{f.framework}>#{f.frameworkdisplay}</span>
      div.col-md-8
        p#currentFramework.hide #{framework}
        each pv in principlesArray
          div.panel.panel-primary(class=pv.type)
            div.panel-heading
              h3.panel-title #{pv.frameworkdisplay} #{pv.type} #{pv.id}
            div.panel-body
              | #{pv.text}
      div.col-md-2
          div.panel.panel-default
            div.panel-heading
              h3.panel-title About
            div.panel-body
              p.center Designed and coded by <a class='plain' href="https://www.linkedin.com/in/tomboulet/">Tom Boulet</a>
              p.hide API at /api
