extends layout

block content
  div#outer
    form(action='/agileframeworks/' + f.framework + 'search', method='GET')
      p 
        | search terms 
        input(type='text', name='searchterms', value='')  
        input(type='submit', value='Submit')
    div#menu
      each f in frameworks
        a.menu(href='/agileframeworks/' + f.framework) #{f.frameworkdisplay}
    h1 #{title} for #{f} the #{framework} framework
    table
      each pv in principlesArray
        tr(class=pv.type)
          td.type(class=pv.type) #{pv.id}
          td.text(class=pv.type) #{pv.text}
