doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
        $.ajax({url: "http://api.agile.teaminnovationllc.com:3000/agileframeworks/", success: function(result){
            $("#div1").html(result);
        }});
      });
  body
      h1= title
      p framework #{framework}
      p type #{type}
      ol
        each p in principlesArray
            li= p.principle

        #div1
          h2 Let jQuery AJAX Change This Text       
       

      

