extends layout

block content
  div#outer
    h1 #{title}
    p #{principleObj.framework} #{principleObj.type} #{principleObj.id}
    p #{principleObj.text}
    - var kwds = '';
    if !pv.keywords
      - pv.keywords='';
    each kwd in principleObj.keywords
      - kwds = (kwds==''?kwd:kwds + ', ' + kwd);
    p #{kwds}
    
    // put kwds in a text box inside a form and with post method. create a controller to save the keywords back to the object
    form(action='/agileframeworks/keywordUpdate?framework=' + principleObj.framework + '&type=' + principleObj.type + '&id=' + principleObj.id, method='POST')
      input.editkeywords(type='text', name='keywords', value=kwds)
      br
      input.editkeywords(type='submit', value='Submit')