extends layout

block content
  div#outer
    h1 #{title}
    p #{principleObj.framework} #{principleObj.type} #{principleObj.id}
    p #{principleObj.text}
    - var kwds = '';
    each kwd in principleObj.keywords
      - kwds = (kwd==''?kwd:', ' + kwd);
      p #{kwds}
    
      