extends layout

block content
  div#outer
    h1 #{title}
    table
      each pv in principlesArray
        tr(class=pv.type)
          td.type(class=pv.type) #{pv.id}
          td.text(class=pv.type) #{pv.text}
          - var kwds = '';
          each kwd in pv.keywords
            - kwds = (kwds==''?kwd:kwds + ',' + kwd);
          td.text(class=pv.type) #{kwds}